:root {
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --tertiary-color: #df2531;
    --quadratery-color: #86232a;
    --pentarery-color: #df253171;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    background-color: var(--secondary-color);
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    color: var(--secondary-color);
}