main {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 1px;
}

section {
    background-color: var(--primary-color);
    border-left: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    min-width: 0;
}

section.side-view {
    flex: 2;
}

section.main-view {
    flex: 3;
}

section:last-child {
    border-right: 1px solid var(--border-color);
}

/* bevel border edges */
main>section:first-child {
    clip-path: polygon(0% 0%, calc(100% - 7px) 0%, 100% 7px, 100% 100%, 0% 100%);
}

main>section:not(:first-child):not(:last-child) {
    clip-path: polygon(7px 0%, calc(100% - 7px) 0%, 100% 7px, 100% 100%, 0% 100%, 0% 7px);
}

main>section:last-child {
    clip-path: polygon(7px 0%, 100% 0%, 100% 100%, 0% 100%, 0% 7px);
}

.field {
    background-color: var(--tertiary-color);
    height: 3rem;

    border-radius: 0.5em;
    border: none;
    padding: 0 1rem;
    margin: 0.5rem;
    outline: none;
}

.col {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
}

li {
    background-color: var(--tertiary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
    gap: 1em;
}

.item-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    margin: 0;
}

li>div {
    gap: 0.25em;
}

li span {
    color: var(--subtle-color);
    font-size: 80%;
}

ul hr {
    border: 1px solid black;
}

li:hover span {
    color: var(--secondary-color);
}

li:hover {
    cursor: pointer;
    background-color: var(--quadratery-color);
}