#app {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1px;
    height: 100%;
    width: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --tertiary-color: #e0e0e0;
    --quadratery-color: #bababa;
    --pentarery-color: #dd000f;
    --border-color: #000000;
    --subtle-color: #878787;
}

html,
body {
    height: 100%;
}

body {
    background-color: var(--secondary-color);
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
hr {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    color: var(--secondary-color);
}

ul {
    padding: 0;
    list-style: none;
}

/* #region Flex layout */
.col,
.row,
.left,
.middle,
.apart,
.right,
.top,
.center,
.bottom {
    display: flex;
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.left {
    justify-content: start;
}

.apart {
    justify-content: space-between;
}

.middle {
    justify-content: center;
}

.right {
    justify-content: end;
}

.top {
    align-items: start;
}

.center {
    align-items: center;
}

.bottom {
    align-items: end;
}

/* #endregion */