@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Inter:wght@400;700;800;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* #region Colors */
  /* Background colors */
  --bg-body: #0e0e0e;
  --bg-surface: #252525;

  /* Foreground (text + borders) */
  --text-main: #ffffff;
  --text-dim: #888888;

  --border-main: #333333;
  --border-dim: #222222;

  /* Accent */
  --color-accent: #ff0000;
  --color-accent-hover: #ff3333;
  --color-accent-light: #ff4c4c;
  --text-on-accent: #ffffff;

  --color-positive: lime;
  --color-positive-dim: green;

  /* #endregion */

  /* #region Typography */
  --font-header: 'Michroma', sans-serif;
  --font-main: 'Inter', sans-serif;
  --font-data: ui-monospace, 'SFMono-Regular', 'SF Mono', Menlo, Consolas, monospace;
  /* #endregion */

  --cutout-width: 3px;
  --bevel-size: 15px;
}

html,
body {
  height: 100%;
}

body {
  /* body border color pozadi, protoze bevel vyrez = border */
  background-color: var(--color-accent);
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
hr {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
input,
label,
button,
td {
  color: var(--text-main);
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  font-family: var(--font-main);
}

p,
span,
li,
td,
button,
input {
  font-family: var(--font-data);
}

p,
span,
li,
label,
ul {
  padding: 0;
  list-style: none;
}

/* #region Font */
.italic {
  font-style: italic;
}

/* #endregion */

/* #region Flex layout */
.col,
.row,
.left,
.middle,
.apart,
.stretch-h,
.stretch-v,
.right,
.top,
.center,
.bottom {
  display: flex;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.left {
  justify-content: start;
}

.apart {
  justify-content: space-between;
}

.stretch-h {
  justify-content: stretch;
}

.middle {
  justify-content: center;
}

.right {
  justify-content: end;
}

.top {
  align-items: start;
}

.center {
  align-items: center;
}

.bottom {
  align-items: end;
}

.stretch-v {
  align-items: stretch;
}

/* #endregion */

.hidden {
  display: none !important;
}

/* #region Shared? TODO asi lepsi misto nez v app.css */
#app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: var(--cutout-width);
}

main {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: var(--cutout-width);
  min-height: 0;
}

section {
  background-color: var(--bg-body);
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 100%;
  min-height: 0;
  min-width: 0;
}

/* #region Bevel borders */
/* customizable shard bevel structure */
.bevel {
  --b: var(--bevel-size);
  clip-path: polygon(var(--tl1, 0% 0%), var(--tl2, 0% 0%),
      var(--tr1, 100% 0%), var(--tr2, 100% 0%),
      var(--br1, 100% 100%), var(--br2, 100% 100%),
      var(--bl1, 0% 100%), var(--bl2, 0% 100%));
}

/* modifier classes */
.bevel-tl {
  --tl1: 0% var(--b);
  --tl2: var(--b) 0%;
}

.bevel-tr {
  --tr1: calc(100% - var(--b)) 0%;
  --tr2: 100% var(--b);
}

.bevel-br {
  --br1: 100% calc(100% - var(--b));
  --br2: calc(100% - var(--b)) 100%;
}

.bevel-bl {
  --bl1: var(--b) 100%;
  --bl2: 0% calc(100% - var(--b));
}

.bevel-all {
  --tl1: 0% var(--b);
  --tl2: var(--b) 0%;
  --tr1: calc(100% - var(--b)) 0%;
  --tr2: 100% var(--b);
  --br1: 100% calc(100% - var(--b));
  --br2: calc(100% - var(--b)) 100%;
  --bl1: var(--b) 100%;
  --bl2: 0% calc(100% - var(--b));
}

/* #endregion */

/* #endregion */

/* #region Flex values */
.f1 {
  flex: 1;
}

.f2 {
  flex: 2;
}

.f3 {
  flex: 3;
}

.f4 {
  flex: 4;
}

/* #endregion */

/* #region Number input webkit */
/* Schovani ciselneho posunu u number inputu */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* #endregion */

.highlight {
  filter: drop-shadow(0 0 10px var(--text-main));
}

/* Scrollbars */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: var(--bg-body);
}

::-webkit-scrollbar-thumb {
  background: var(--border-main);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--text-dim);
}

/* #region Text formatting */
.upper {
  text-transform: uppercase;
}

/* #endregion */

/* #region Shared CSS design */
.accent-heading {
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--color-accent);
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.input-field {
  background-color: var(--bg-surface);
  border: 1px solid var(--border-main);
  padding: 0.75rem 1rem;
  color: var(--text-main);
}

.input-field:focus,
select.input-field:focus-visible {
  outline: none;
  border-color: var(--color-accent);
}

input[type="date"] {
  color-scheme: dark;
}

/* #endregion */